<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-primary" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"><img src="assets/home.png" height="40" width="40" /><span
                class="mx-1">Home</span> </a>
        <a class="nav-item nav-link" routerLink="/customers" routerLinkActive="active"><img src="assets/people.png"
                height="40" width="40" /><span class="mx-1">Customers</span></a>
    </div>
    <div class="navbar-nav navbar-collapse justify-content-end">
        <a class="nav-item nav-link align-items-end" (click)="logout()"><img src="assets/logout.png" height="40"
                width="40" /><span class="mx-1">Logout</span></a>
    </div>
</nav>

<!-- <nav class="navbar navbar-expand navbar-dark bg-primary" *ngIf="!currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"><img src="assets/home.png" height="40" width="40" /><span
                class="mx-1">Home</span> </a>
        <a class="nav-item nav-link" routerLink="/customers" routerLinkActive="active"><img src="assets/people.png"
                height="40" width="40" /><span class="mx-1">Customers</span></a>
    </div>
    <div class="navbar-nav navbar-collapse justify-content-end">
        <a class="nav-item nav-link align-items-end" (click)="logout()"><img src="assets/logout.png" height="40"
                width="40" /><span class="mx-1">Logout</span></a>
    </div>
</nav> -->




<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <!-- <ng-container > -->
            <div class="row">
                <div class="col-sm-6 offset-sm-3">
                    <!-- <loader *ngIf="loader"></loader> -->
                    <alert></alert>
                </div>
            </div>
            <!-- <ng-container *ngIf="!loader"> -->
            <router-outlet></router-outlet>
            <!-- </ng-container> -->
        <!-- </ng-container> -->
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href>MEAN stack application - User Registration</a>
    </p>
    <p>
        <a href>Marsh & Macllean</a>
    </p>
</div>